
<mat-card style="text-align: center;">
  <mat-card-title>Edit Item</mat-card-title>
<form [formGroup]="editform" #userForm="ngForm" (ngSubmit)="openDialog(userForm.value);">
 
<p>
  <label>Name of Item</label>
  <mat-form-field appearance="fill">
 
 <input matInput  name="Itemname" formControlName="Itemname" [(ngModel)]="data1.Itemname">
  </mat-form-field>

  <label>Color</label>
  
  <mat-form-field appearance="fill" >
    
    <input matInput  name="Color" formControlName="Color" [(ngModel)]="data1.Color">
  </mat-form-field>
</p>
<p>
  <label>Inventory</label>
  <mat-form-field appearance="fill">
    
    <input matInput  name="Inventory" formControlName="Inventory" [(ngModel)]="data1.Inventory">
  </mat-form-field>
  <label>Cost</label>
  <mat-form-field appearance="fill">
    
    <input matInput  name="Cost" formControlName="Cost" [(ngModel)]="data1.Cost">
  </mat-form-field>
  <label>City</label>
  <mat-form-field appearance="fill">
      
      <input matInput name="City" formControlName="City" [(ngModel)]="data1.City">    
    </mat-form-field>
  </p>  
  <label>State</label>
    <mat-form-field appearance="fill">
      
      <input matInput  name="State" formControlName="State" [(ngModel)]="data1.State" > 
    </mat-form-field> 



    <label>Zipcode</label>
    <mat-form-field appearance="fill">
      
      <input matInput   name="Zipcode"  formControlName="Zipcode" [(ngModel)]="data1.Zipcode">
    
    </mat-form-field>


    
  <p>
      
    <button style="margin-right:15px;" mat-raised-button type="submit" > save </button>
    <button   mat-raised-button type="reset" routerLink="/display-item" > cancel</button>
  </p>


</form>
</mat-card>
