<button mat-raised-button color="primary"   routerLink="/add-item" routerLinkActive="active" >Add Item</button>
<input  (keyup)="applyFilter($event.target.value)" placeholder="Search......">

<mat-card>
<table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="Itemname">Itemname</th>
      <th mat-sort-header="Color">Color</th>
      <th mat-sort-header="Inventory">Inventory</th>
      <th mat-sort-header="Cost">Cost </th>
      <th mat-sort-header="City">City </th>
      <th mat-sort-header="State">State </th>
      <th mat-sort-header="Zipcode">Zipcode </th>
      
      <th mat-sort-header="edit">edit</th>
      <th mat-sort-header="delete">delete</th>
    </tr> 
  
    <tr *ngFor="let dessert of sortedData; index as i">
      <td>{{dessert.Itemname}}</td>
      <td>{{dessert.Color}}</td>
      <td>{{dessert.Inventory}}</td>
      <td>{{dessert.Cost}}</td>
      <td>{{dessert.City}}</td>
      <td>{{dessert.State}}</td>
      <td>{{dessert.Zipcode}}</td>
      
      <td>
        <button mat-raised-button (click)="edititem(i)" routerLink="/edit-item"><mat-icon  >edit</mat-icon></button>
    </td>
    <td>
        
        <button mat-raised-button (click)="deleteitem(i)"><mat-icon style="color:red;" >delete</mat-icon></button>
    </td>
    </tr>
   
  </table>

</mat-card>
